@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f6f7f8;
}
.sombra{
    box-shadow:
    0px 0px 15px #05e91180,
    0px 4px 4px -1px #07bd1080,
    3px 3px 7px #07bd1080,
    -3px -3px 7px #05e91180;
}

.add-to-cart-btn{
    background: #ad5389;
    background: linear-gradient(
      0deg,
      rgba(20, 167, 62, 1) 0%,
      rgba(102, 247, 113, 1) 100%
    );
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
}

.espaçamento >div{
    margin-bottom: 20px;
    text-align: center;
}

.bg-capa-hamburguer{
    background-image: url("../imagens/food-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 800px) {
    .espaçamento{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
}